body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.card {
    border: 1px solid black;
    font-family: serif;
    margin: 10px;
    padding: 10px;
}

.larger-text {
    font-size: 1.5em;
}

.main-container {
    width: 60%;
}

.main-wrapper {
    padding: 10px;
}

.sidebar-container {
    width: 20%;
}

.space-between {
    justify-content: space-between;
}
  
.wrapper {
    display: flex;
}

/*
User Profile
*/

.user-profile-bio {
    padding-left: 10px;
}

.user-profile-snippet {
    margin-bottom: 10px;
}