
.header_box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
    -webkit-box-shadow: 1px 4px 11px 2px rgba(107, 80, 107, 1);
    -moz-box-shadow: 1px 4px 11px 2px rgba(107, 80, 107, 1);
    box-shadow: 1px 4px 11px 2px rgba(107, 80, 107, 1);
    border-radius: 5px;
}

.login_box {
    padding: 20px;
}

.heading {
    font-weight: bolder;
}

.secondary-heading {}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forms {
    margin: 20px;
}

.forms p {
    text-align: left;
    font-weight: 300;
}

.forms input {
    font-size: 15px;
}